<IfModule mod_rewrite.c>
Header set Access-Control-Allow-Origin "*"
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$    /index.php/$2/?page=$1   [L]
</IfModule>

# Create necessary directories
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,L]
</IfModule>

# PHP settings
<IfModule mod_php7.c>
  php_value upload_max_filesize 10M
  php_value post_max_size 10M
</IfModule>